node_modules/
example/node_modules/
example/ios/build
example/ios/Pods
ios/build/
*.log
.DS_Store
example/ios/MultipeerConnectivityExample.xcodeproj/project.pbxproj
example/ios/MultipeerConnectivityExample.xcworkspace/xcuserdata/amrit.xcuserdatad/UserInterfaceState.xcuserstate